annotated-types
anyio
appdirs
asgiref
attrs
beautifulsoup4
bs4
certifi
chardet
charset-normalizer
colorama
cssselect
cssselect2
distro
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
fake-useragent
h11
httpcore
httpx
idna
importlib_metadata
jiter
lxml
lxml_html_clean
markdownify
meta_ai_api
openai
outcome
parse
pillow
psycopg2-binary
pydantic
pydantic_core
pyee
PyJWT
pyppeteer
pyquery
PySocks
python-decouple
python-dotenv
reportlab
requests
requests-html
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
svglib
tinycss2
tls-client
tqdm
trio
trio-websocket
typing_extensions
tzdata
undetected-chromedriver
urllib3
w3lib
webencodings
websocket-client
websockets
whitenoise
wsproto
zipp