:root{
    --primary-background: #fdfdfd;
    --text-color: #000000;
    --link-color: #5fa4ff;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto Mono', monospace;
}

html{
    height: 100dvh;
    width: 100%;
}

body{
    background: var(--primary-background);
    font-family: var(--poppins);
    color: var(--text-color);
}